* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {
    background-color: rgb(43, 99, 231);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: rgba(4, 4, 246, 0.805);
}

p {
    padding: 0;
    font-size: large;
    text-align: center;
}

main {
    max-width: 800px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #f8efe1;
    padding: 6px;
    box-shadow: 2px 2px 5px #000000;
    float: right;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

ul {
    clear: both;
}

aside {
    width: 20em;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 80px;
    font-size: small;
}

footer {
    margin-top: 16px;
    border-top: 1px solid #000000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}